* {
  font-size: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background-image: url("/src/img/home/background-home-desktop.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and(max-width: 800px) {
  body {
    background-image: url("/src/img/home/background-home-tablet.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-between;

  height: 150px;
  padding: 0px 0px 0px 20px;
  #btn-mobile {
    display: none;
    padding: 0.5rem;
  }
  @media (max-width: 800px) {
    #btn-mobile {
      display: block;
    }
    .navegacao {
      display: none;
    }
  }
  // .menu-mobile {
  //   display: none;
  // }
  // .div-mobile {
  //   display: none;
  // }
  // @media (max-width: 700px) {
  //   .div-mobile {
  //     display: block;

  //     .menu-mobile {
  //       display: block;
  //       margin-right: 20px;
  //       width: 35px;
  //     }
  //     #check {
  //       display: none;
  //     }
  //     .checkbtn {
  //       display: block;
  //       img {
  //         margin-left: 130px;
  //       }
  //     }
  //     .mystyle {
  //       display: none;
  //     }
  //     #checkbtn2 {
  //       display: block;
  //       img {
  //         margin-left: 130px;
  //       }
  //     }
  //     ul {
  //       display: flex;
  //       flex-direction: column;

  //       position: fixed;
  //       width: 100%;
  //       height: 100vh;
  //       background-color: #2c2640;
  //       top: 90px;
  //       left: -100%;
  //       text-align: center;
  //       transition: all.5s;
  //       z-index: 3;
  //       li {
  //         margin-left: -0px;
  //       }
  //     }
}
//     .navegacao {
//       display: none;
//     }
//   }
// }

.icone-linha {
  // position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;

  justify-content: space-between;
  width: 42%;

  img {
    width: 50px;
  }
  hr {
    border: 0.1px solid rgba(122, 122, 122, 0.295);
    width: 85%;
    z-index: 999;
  }
  @media (max-width: 800px) {
    hr {
      display: none;
    }
  }
}
.navegacao {
  // position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
  width: 58%;
  max-width: 100%;
  margin: 0 auto;
  height: 70px;
  // margin-left: 500px;
  z-index: 999;
  box-shadow: 1px 0px 1px rgb(0, 0, 0);

  background: rgba(255, 255, 255, 0.055);

  overflow: hidden;

  backdrop-filter: brightness(60%);
  backdrop-filter: contrast(40%);

  backdrop-filter: grayscale(30%);
  backdrop-filter: hue-rotate(120deg);
  backdrop-filter: invert(70%);
  backdrop-filter: opacity(20%);
  backdrop-filter: sepia(90%);
  backdrop-filter: saturate(80%);
  backdrop-filter: blur(5px);

  span {
    font-weight: bolder;
  }
  @media screen and(max-width: 800px) {
    span {
      display: none;
    }
  }
  a {
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 100px;
    font-size: 15px;
    cursor: pointer;
    & + a {
      margin-left: 2rem;
    }
    &:hover {
      color: #fff;
    }
    &.active {
      color: #fff;
      font-weight: bold;
    }
    &.active::after {
      content: "";
      height: 3px;

      border-radius: 3px 3px 0 0;
      width: 80px;
      position: fixed;
      bottom: 1px;
      left: 8.5%;
      background: rgb(255, 255, 255);
    }
  }
  @media (max-width: 800px) {
    a {
      font-size: 13px;
      &.active::after {
        content: "";
        height: 3px;

        border-radius: 3px 3px 0 0;
        width: 50px;
        position: fixed;
        bottom: 1px;
        left: 15px;
        background: rgb(255, 255, 255);
      }
    }
  }
}
@media screen and(max-width: 800px) {
  .navegacao {
    width: 75%;
    height: 100px;
  }
}
.conteudo-home {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;

  padding: 0px 100px 0px 100px;
  padding-top: 100px;
  flex-wrap: wrap;
  h1 {
    font-size: 120px;
    letter-spacing: 6px;
    // font-family: "Besley", serif;

    font-family: "Chakra Petch", sans-serif;

    font-weight: 100;
    text-transform: uppercase;
  }
  .conteudo-paragrafos {
    h4 {
      padding-left: 10px;
      font-family: "Oswald", sans-serif;
      letter-spacing: 5px;
      font-size: 28px;
      font-weight: 200;
    }
    p {
      padding-left: 10px;
      font-family: "Oswald", sans-serif;
      font-weight: 100;
      letter-spacing: 2px;
      font-size: 17px;
    }
  }
  .circulo-branco {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 80px;
    h2 {
      font-family: "Roboto Condensed", sans-serif;
      color: black;
      font-size: 27px;
      text-transform: uppercase;
      font-weight: 100;
      letter-spacing: 1px;
    }
  }
}
@media screen and(max-width:900px) {
  .conteudo-home {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .circulo-branco {
      background-color: white;
      width: 270px;
      height: 270px;
      border-radius: 50%;
      cursor: pointer;
      margin-top: 120px;
      h2 {
        font-family: "Roboto Condensed", sans-serif;
        color: black;
        font-size: 37px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
  }
}
