* {
  font-size: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background-image: url("/src/img/home/background-home-desktop.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and(max-width: 800px) {
  body {
    background-image: url("/src/img/home/background-home-tablet.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    // display: flex;
  }
}
header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-between;

  height: 150px;
  padding: 0px 0px 0px 20px;
  #mobile {
    display: none;
    padding: 0.5rem;
  }
  #close {
    display: none;
    padding: 0.5rem;
  }
  @media (max-width: 800px) {
    #mobile {
      display: block;
      margin-right: 4%;
      background-color: transparent;
      border: 0;
      img {
        width: 40px;
      }
    }
    #mobile.close {
      display: none;
      margin-right: 4%;
      background-color: transparent;
      border: 0;
      img {
        width: 40px;
      }
    }
    #close {
      display: none;
      margin-right: 2%;
      background-color: transparent;
      border: 0;
      img {
        width: 38px;
      }
    }
    #close.open {
      display: block;
      margin-left: 76%;
      position: absolute;
      z-index: 999;
      background-color: transparent;
      border: 0;
      img {
        width: 38px;
      }
    }
    #menu {
      display: none;
    }
    #nav {
      display: none;
      height: 0px;
    }
    #nav.active {
      display: flex;

      span {
        display: block;
      }
      ul {
        width: 100%;
        text-decoration-line: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 9%;
        padding-top: 380px;

        li {
          align-items: center;
          width: 100%;
          display: flex;

          padding: 5px 2px 0px 10px;
          margin-top: 20px;
          padding-top: 10px;
          gap: 15px;
        }
        div {
          width: 100%;
          display: flex;
          flex-direction: row;
        }
      }
      li {
        list-style: none;
        text-decoration-line: none;
      }
      a {
        text-decoration: none;
        font-size: 18px;
      }
      span {
        font-size: 20px;
      }
      // position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      gap: 5%;

      flex-wrap: wrap;
      width: 60rem;
      max-width: 100%;
      margin: 0 auto;
      height: 175vh;
      height: calc(185vh - 70px);
      // margin-left: 500px;
      z-index: 3;

      box-shadow: 1px 0px 1px rgb(0, 0, 0);

      background: rgba(255, 255, 255, 0.055);

      overflow-y: hidden;

      backdrop-filter: brightness(60%);
      backdrop-filter: contrast(40%);

      backdrop-filter: grayscale(30%);
      backdrop-filter: hue-rotate(120deg);
      backdrop-filter: invert(70%);
      backdrop-filter: opacity(20%);
      backdrop-filter: sepia(90%);
      backdrop-filter: saturate(80%);
      backdrop-filter: blur(5px);
    }
  }
}
#nav.active #menu {
  display: flex;
  outline: none;
}

.icone-linha {
  // position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;

  justify-content: space-between;
  width: 42%;

  img {
    width: 50px;
  }
  hr {
    border: 0.1px solid rgba(122, 122, 122, 0.295);
    width: 85%;
    z-index: 999;
  }
}
@media (max-width: 800px) {
  .icone-linha {
    width: 100%;

    hr {
      display: none;
    }
  }
}
#nav {
  // position: absolute;
  text-decoration-line: none;
  ul {
    width: 100%;
    text-decoration-line: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9%;
  }
  li {
    list-style: none;
    text-decoration-line: none;
  }
  a {
    text-decoration: none;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
  width: 58%;
  max-width: 100%;
  margin: 0 auto;
  height: 70px;
  // margin-left: 500px;
  z-index: 999;
  box-shadow: 1px 0px 1px rgb(0, 0, 0);

  background: rgba(255, 255, 255, 0.055);

  overflow: hidden;

  backdrop-filter: brightness(60%);
  backdrop-filter: contrast(40%);

  backdrop-filter: grayscale(30%);
  backdrop-filter: hue-rotate(120deg);
  backdrop-filter: invert(70%);
  backdrop-filter: opacity(20%);
  backdrop-filter: sepia(90%);
  backdrop-filter: saturate(80%);
  backdrop-filter: blur(5px);

  span {
    font-weight: bolder;
  }
  @media screen and(max-width: 800px) {
    span {
      display: none;
    }
  }
  a {
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 100px;
    font-size: 15px;
    cursor: pointer;
    & + a {
      margin-left: 2rem;
    }
    &:hover {
      color: #fff;
    }
    &.active {
      color: #fff;
      font-weight: bold;
    }
    &.active::after {
      content: "";
      height: 3px;

      border-radius: 3px 3px 0 0;
      width: 80px;
      position: fixed;
      bottom: 1px;
      left: 8.5%;
      background: rgb(255, 255, 255);
    }
  }
  @media (max-width: 800px) {
    a {
      font-size: 13px;
      &.active::after {
        content: "";
        height: 3px;

        border-radius: 3px 3px 0 0;
        width: 50px;
        position: fixed;
        bottom: 1px;
        left: 15px;
        background: rgb(255, 255, 255);
      }
    }
  }
}
@media screen and(max-width: 800px) {
  .navegacao {
    width: 75%;
    height: 100px;
  }
}
.conteudo-home {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;

  padding: 0px 100px 0px 100px;
  padding-top: 100px;
  flex-wrap: wrap;

  h1 {
    font-size: 120px;
    letter-spacing: 6px;
    // font-family: "Besley", serif;

    font-family: "Chakra Petch", sans-serif;

    font-weight: 100;
    text-transform: uppercase;
  }
  .conteudo-paragrafos {
    #paragrafo-mobile {
      display: none;
    }
    h4 {
      padding-left: 10px;
      font-family: "Oswald", sans-serif;
      letter-spacing: 5px;
      font-size: 28px;
      font-weight: 200;
    }
    p {
      padding-left: 10px;
      font-family: "Oswald", sans-serif;
      font-weight: 100;
      letter-spacing: 2px;
      font-size: 17px;
    }
  }
  .circulo-branco {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;

    margin-top: 80px;
    button {
      background-color: transparent;
      outline: none;
      border: 0;
      cursor: pointer;
    }

    h2 {
      font-family: "Roboto Condensed", sans-serif;
      color: black;
      font-size: 27px;
      text-transform: uppercase;
      font-weight: 100;
      letter-spacing: 1px;
    }
  }
}
.circulo-branco:hover {
  color: #e0e0e083;
  border: 2px solid rgba(221, 221, 221, 0.13);
  box-shadow: 0px 0px 5px 50px rgba(218, 218, 218, 0.158);
  transition: 0.3s;
}
@keyframes anim-shadow {
  100% {
    box-shadow: 10px 20px 30px 30px rgba(230, 230, 230, 0.082);
  }
}
@media screen and(max-width:900px) {
  #paragrafo-desktop {
    display: none;
  }

  .conteudo-home {
    width: 100%;

    align-items: center;
    flex-direction: column;
    padding: 10px 10px 10px 0px;
    justify-content: center;
    text-align: center;
    h1 {
      font-size: 80px;
      letter-spacing: 6px;
      // font-family: "Besley", serif;

      font-family: "Chakra Petch", sans-serif;

      font-weight: 100;
      text-transform: uppercase;
    }
    .conteudo-paragrafos {
      #paragrafo-mobile {
        font-size: 16px;
        display: block;
        line-height: 35px;
      }

      width: 100%;
      margin-left: 0.2rem;

      h4 {
        padding-left: 0px;
        font-family: "Oswald", sans-serif;
        letter-spacing: 5px;
        font-size: 18px;
        font-weight: 400;
      }
      p {
        padding-left: 0px;
        font-family: "Oswald", sans-serif;
        font-weight: 100;
        letter-spacing: 2px;
        font-size: 17px;
      }
    }
    .circulo-branco {
      .circulo-btn:focus {
      }
      background-color: white;
      width: 210px;
      height: 210px;
      border-radius: 50%;
      cursor: pointer;
      margin-top: 100px;
      margin-bottom: 20px;
      button {
        background-color: transparent;
        outline: none;
        border: 0;
        cursor: pointer;
      }

      h2 {
        font-family: "Roboto Condensed", sans-serif;
        color: black;
        font-size: 37px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
      }
    }
  }
}
