* {
  font-size: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background-image: url("/src/img/home/background-home-desktop.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and(max-width: 800px) {
  body {
    background-image: url("/src/img/home/background-home-tablet.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-between;

  height: 150px;
  padding: 0px 0px 0px 20px;
}

.icone-linha {
  // position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;

  justify-content: space-between;
  width: 42%;

  img {
    width: 50px;
  }
  hr {
    border: 0.1px solid rgba(122, 122, 122, 0.295);
    width: 85%;
    z-index: 999;
  }
  @media (max-width: 800px) {
    hr {
      display: none;
    }
  }
}
.navegacao {
  // position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
  width: 58%;
  max-width: 100%;
  margin: 0 auto;
  height: 70px;
  // margin-left: 500px;
  z-index: 999;
  box-shadow: 1px 0px 1px rgb(0, 0, 0);

  background: rgba(255, 255, 255, 0.055);

  overflow: hidden;

  backdrop-filter: brightness(60%);
  backdrop-filter: contrast(40%);

  backdrop-filter: grayscale(30%);
  backdrop-filter: hue-rotate(120deg);
  backdrop-filter: invert(70%);
  backdrop-filter: opacity(20%);
  backdrop-filter: sepia(90%);
  backdrop-filter: saturate(80%);
  backdrop-filter: blur(5px);

  span {
    font-weight: bolder;
  }
  @media screen and(max-width: 800px) {
    span {
      display: none;
    }
  }
  a {
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 100px;
    font-size: 15px;
    cursor: pointer;
    & + a {
      margin-left: 2rem;
    }
    &:hover {
      color: #fff;
    }
    &.active {
      color: #fff;
      font-weight: bold;
    }
    &.active::after {
      content: "";
      height: 3px;

      border-radius: 3px 3px 0 0;
      width: 80px;
      position: fixed;
      bottom: 1px;
      left: 8.5%;
      background: rgb(255, 255, 255);
    }
  }
  @media (max-width: 800px) {
    a {
      font-size: 13px;
      &.active::after {
        content: "";
        height: 3px;

        border-radius: 3px 3px 0 0;
        width: 50px;
        position: fixed;
        bottom: 1px;
        left: 15px;
        background: rgb(255, 255, 255);
      }
    }
  }
}
@media screen and(max-width: 800px) {
  .navegacao {
    width: 75%;
    height: 100px;
  }
}
